body{
  background-color: beige;
  font-family:'Times New Roman', Times, serif
}
main{
  background-color: rgb(249, 250, 199);
}
button{
  height:40px;
  background-color:rgb(131, 52, 68);
  color:white;
  font-weight: bold;
  font-family: inherit;
}
header h1{
  font-size:5em;
  font-weight: bolder;
}
#top{
  font-size: xx-large;
  font-weight: lighter;
}
aside p{
  font-size: large;
  font-weight: 300;
}
li{
  font-size: large;
  font-weight: 250;
  font-style: italic;
}
h2{
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
#descrip{
  font-size:large;
  font-style: italic;
  font-weight: 500;
}